week01/Library/
*.sln
*.csproj
week03/Library/
*.userprefs
week04/Library/
week04/Temp/
week05/Library/
week09/Library/
week09/Temp/
week10/Library/
week10/Temp/
week12/Library/
week12/Temp/
week11/Library/
